@import './mixins';

form .group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: var(--sds-component-form-group-spacing-group-margin-bottom);
}

/* Form group label */
form .group > label {
  padding-right: 20px;
  font-size: var(--sds-component-form-group-font-size-label);
  font-family: var(--sds-component-form-group-font-family-label);
  font-weight: var(--sds-component-form-group-font-weight-label);
  line-height: var(--sds-component-form-group-line-height-label);
  text-transform: var(--sds-component-form-group-text-case-label);
  letter-spacing: var(--sds-component-form-group-letter-spacing-label);
  text-decoration: var(--sds-component-form-group-text-decoration-label);
  color: var(--sds-component-form-group-color-foreground-color-label-default);
  padding-bottom: var(--sds-component-form-group-spacing-label-padding-bottom);
}

form .group:has(input:required) > label::after,
form .group:has(textarea:required) > label::after,
form .group:has(select:required) > label::after {
  content:' *';
  color: var(--sds-component-form-group-color-foreground-color-error-default);
}

/* Help text */
form .group span {
  font-size: var(--sds-component-form-group-font-size-help);
  font-family: var(--sds-component-form-group-font-family-help);
  font-weight: var(--sds-component-form-group-font-weight-help);
  line-height: var(--sds-component-form-group-line-height-help);
  text-transform: var(--sds-component-form-group-text-case-help);
  letter-spacing: var(--sds-component-form-group-letter-spacing-help);
  text-decoration: var(--sds-component-form-group-text-decoration-help);
  padding-top: var(--sds-component-form-group-spacing-help-padding-top);
  color: var(--sds-component-form-group-color-foreground-color-help-default);
}

input,
textarea {
  @mixin base-text-field text-field;
}

[type='checkbox'] {
  @mixin radiocheck checkbox;

  &:not(.switch) {
    /* Default checkbox state */
    & + label::before {
      content: '';
      margin-top: 1px;
      border-style: solid;
      border-radius: var(--sds-component-checkbox-border-radius);
      width: var(--sds-component-checkbox-sizing-background-width);
      height: var(--sds-component-checkbox-sizing-background-height);
      border-width: var(--sds-component-checkbox-border-width-default);
      border-color: var(--sds-component-checkbox-color-default-border-color);
      background-color: var(--sds-component-checkbox-color-default-background-color);
    }

    /* Checkbox Checked (Background) */
    &:checked + label::before {
      top: 0;
      left: 0;
      content: '';
      position: absolute;
      border-style: solid;
      width: var(--sds-component-checkbox-sizing-background-width);
      height: var(--sds-component-checkbox-sizing-background-height);
      border-color: var(--sds-component-checkbox-color-checked-border-color);
      background-color: var(--sds-component-checkbox-color-checked-background-color);
    }

    /* Checkbox Checked (Check Shape) */
    &:checked + label::after {
      top: 5px;
      left: 8px;
      width: 5px;
      content: '';
      height: 10px;
      position: absolute;
      border-style: solid;
      transform: rotate(45deg);
      border-width: 0 2px 2px 0;
      border-color: var(--sds-component-checkbox-color-checked-foreground-color);
    }

    &:disabled + label::before {
      color: var(--sds-component-checkbox-color-disabled-foreground-color);
      border-color: var(--sds-component-checkbox-color-disabled-border-color);
      background-color: var(--sds-component-checkbox-color-disabled-background-color);
    }

    &:disabled + label::after {
      border-color: var(--sds-component-checkbox-color-disabled-border-color);
      background-color: var(--sds-component-checkbox-color-disabled-background-color);
    }
  }

  &.switch {
    z-index: 1;
    position: absolute;
    height: var(--sds-component-switch-sizing-background-width);
    width: var(--sds-component-switch-sizing-background-height);

    & + label {
      padding-left: calc(50px + var(--sds-component-switch-spacing-space-between));
    }

    /* Default switch state */
    & + label::before {
      top: 0;
      left: 0;
      content: '';
      position: absolute;
      border-radius: var(--sds-component-switch-border-radius);
      width: var(--sds-component-switch-sizing-background-width);
      height: var(--sds-component-switch-sizing-background-height);
    }

    /* Default switch toggle */
    & + label::after {
      top: 0;
      left: 0;
      content: '';
      display: block;
      position: absolute;
      transform: translateX(var(--x, 0));
      width: var(--sds-component-switch-sizing-toggle-width);
      height: var(--sds-component-switch-sizing-toggle-height);
      border-radius: var(--sds-component-switch-border-radius);
      background-color: var(--sds-component-switch-color-default-foreground-color);
      border: 1px solid var(--sds-component-switch-color-default-border-color);
    }

    /* Background hover */
    &:hover + label::before {
      border-width: 0;
      outline: var(--sds-component-switch-border-width-hover) solid var(--sds-component-switch-color-hover-border-color);
      background-color: var(--sds-component-switch-color-hover-background-color);
    }

    /* Checked switch background */
    &:checked + label::before {
      background-color: var(--sds-component-switch-color-checked-background-color);
    }

    /* Checked switch toggle */
    &:checked + label::after {
      --x: 30px;

      background-color: #fff;
    }

    &:disabled + label::before {
      border-color: var(--sds-component-switch-color-disabled-border-color);
      background-color: var(--sds-component-switch-color-disabled-background-color);
    }

    &:disabled + label::after {
      background-color: var(--sds-component-switch-color-disabled-foreground-color);
    }
  }
}

input[type='radio'] {
  @mixin radiocheck radio;

  /* Default radio background */
  & + label::before {
    border-radius: 50%;
    width: var(--sds-component-radio-sizing-background-width);
    height: var(--sds-component-radio-sizing-background-height);
  }

  /* Default radio check */
  & + label::after {
    top: 3px;
    left: 3px;
    opacity: 0;
    content: '';
    width: 14px;
    height: 14px;
    display: block;
    border-radius: 50%;
    position: absolute;
    background-color: var(--sds-component-radio-color-checked-foreground-color);
  }

  /* Checked radio background */
  &:checked + label::before {
    border-color: var(--sds-component-radio-color-checked-border-color);
    background-color: var(--sds-component-radio-color-checked-background-color);
  }

  /* Checked radio check */
  &:checked + label::after {
    opacity: 1;
    background-color: var(--sds-component-radio-color-checked-foreground-color);
  }

  &:disabled + label::after {
    border-color: var(--sds-component-checkbox-color-disabled-border-color);
    background-color: var(--sds-component-checkbox-color-disabled-background-color);
  }

  /* Checked radio check */
  &:disabled:checked + label::after {
    background-color: var(--sds-component-radio-color-disabled-foreground-color);
  }
}

select {
  appearance: none;
  @mixin base-text-field select;
}

.select {
  position: relative;

  &::after {
    top: 7px;
    right: 5px;
    content: '';
    width: 20px;
    height: 20px;
    mask-size: cover;
    position: absolute;
    pointer-events: none;
    display: inline-block;
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: var(--sds-component-text-field-color-default-foreground-color);
    mask-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%20width%3D%2218%22%3E%0A%20%20%3Crect%20id%3D%22Canvas%22%20fill%3D%22currentColor%22%20opacity%3D%220%22%20width%3D%2218%22%20height%3D%2218%22%20%2F%3E%3Cpath%20class%3D%22fill%22%20d%3D%22M4%2C7.01a1%2C1%2C0%2C0%2C1%2C1.7055-.7055l3.289%2C3.286%2C3.289-3.286a1%2C1%2C0%2C0%2C1%2C1.437%2C1.3865l-.0245.0245L9.7%2C11.7075a1%2C1%2C0%2C0%2C1-1.4125%2C0L4.293%2C7.716A.9945.9945%2C0%2C0%2C1%2C4%2C7.01Z%22%20%2F%3E%0A%3C%2Fsvg%3E');
  }

  &:has(select:optional:disabled)::after,
  &:has(select:disabled)::after {
    background-color: var(--sds-component-select-color-disabled-foreground-color);
  }
}
