@define-mixin form-element $type, $state {
  color: var(--sds-component-$(type)-color-$(state)-foreground-color);
  border-radius: var(--sds-component-$(type)-border-radius);
  border-color: var(--sds-component-$(type)-color-$(state)-border-color);
  background-color: var(--sds-component-$(type)-color-$(state)-background-color);
}

@define-mixin base-text-field $type {
  padding: var(--sds-component-$(type)-spacing-padding-y) var(--sds-component-$(type)-spacing-padding-x);
  font-family: var(--sds-component-$(type)-font-family-text);
  min-width: var(--sds-component-$(type)-min-width);
  font-size: var(--sds-component-$(type)-font-size-text);
  font-weight: var(--sds-component-$(type)-font-weight-text);
  text-decoration: var(--sds-component-$(type)-text-decoration-text);
  text-transform: var(--sds-component-$(type)-text-case-text);
  letter-spacing: var(--sds-component-$(type)-letter-spacing-text);
  border-style: solid;

  @mixin form-element $type, default;

  border-width: var(--sds-component-$(type)-border-width-default);

  &:hover {
    @mixin form-element $type, hover;

    border-width: var(--sds-component-$(type)-border-width-hover);
  }

  &:focus {
    @mixin form-element $type, key-focus;

    outline: none;
    box-shadow: 0 0 0 var(--sds-component-$(type)-border-width-key-focus) var(--sds-component-$(type)-color-key-focus-border-color);
  }

  &:disabled {
    @mixin form-element $type, disabled;

    &::placeholder {
      color: var(--sds-component-text-field-color-disabled-foreground-color);
    }
  }

  &::placeholder {
    color: var(--sds-component-text-field-color-placeholder);
    font-family: var(--sds-component-text-field-font-family-text);
    line-height: var(--sds-component-text-field-line-height-text);
    font-size: var(--sds-component-text-field-font-size-text);
    font-weight: var(--sds-component-text-field-font-weight-text);
    text-transform: var(--sds-component-text-field-text-case-text);
    letter-spacing: var(--sds-component-text-field-letter-spacing-text);
    text-decoration: var(--sds-component-text-field-text-decoration-text);
  }

  &:optional {
    @mixin form-element $type, default;
  }

  &:optional:disabled {
    @mixin form-element $type, disabled;

    &::placeholder {
      color: var(--sds-component-text-field-color-disabled-foreground-color);
    }
  }

  &:required:focus:valid {
    @mixin form-element $type, success;		

    box-shadow: 0 0 0 var(--sds-component-$(type)-border-width-key-focus) var(--sds-component-$(type)-color-success-border-color);
  }

  &:focus:invalid {
    @mixin form-element $type, error;

    box-shadow: 0 0 0 var(--sds-component-$(type)-border-width-key-focus) var(--sds-component-$(type)-color-error-border-color);
  }
}
