@define-mixin drop-shadow $size{
  border-radius: var(--sds-semantic-border-radius-default);
  box-shadow:
    var(--sds-semantic-drop-shadow-$(size)-0-x)
    var(--sds-semantic-drop-shadow-$(size)-0-y)
    var(--sds-semantic-drop-shadow-$(size)-0-blur)
    var(--sds-semantic-drop-shadow-$(size)-0-spread)
    var(--sds-semantic-drop-shadow-$(size)-0-color),
    var(--sds-semantic-drop-shadow-$(size)-1-x)
    var(--sds-semantic-drop-shadow-$(size)-1-y)
    var(--sds-semantic-drop-shadow-$(size)-1-blur)
    var(--sds-semantic-drop-shadow-$(size)-1-spread)
    var(--sds-semantic-drop-shadow-$(size)-1-color)
}

@define-mixin inner-shadow $size{
		var(--sds-semantic-inner-shadow-$(size)-0-x)
  border-radius: var(--sds-semantic-border-radius-default);
  box-shadow:
    inset
    var(--sds-semantic-inner-shadow-$(size)-0-x)
    var(--sds-semantic-inner-shadow-$(size)-0-y)
    var(--sds-semantic-inner-shadow-$(size)-0-blur)
    var(--sds-semantic-inner-shadow-$(size)-0-spread)
    var(--sds-semantic-inner-shadow-$(size)-0-color)
}