/* padding */
@define-mixin padding $size {
	padding: var(--sds-semantic-spacing-around-component-$(size));
}

@define-mixin padding-top $size {
	padding-top: var(--sds-semantic-spacing-around-component-$(size));
}

@define-mixin padding-bottom $size {
	padding-bottom: var(--sds-semantic-spacing-around-component-$(size));
}

@define-mixin padding-left $size {
	padding-left: var(--sds-semantic-spacing-around-component-$(size));
}

@define-mixin padding-right $size {
	padding-right: var(--sds-semantic-spacing-around-component-$(size));
}

@define-mixin padding-horizontal $size {
	padding-left: var(--sds-semantic-spacing-around-component-$(size));
	padding-right: var(--sds-semantic-spacing-around-component-$(size));
}

@define-mixin padding-vertical $size {
	padding-top: var(--sds-semantic-spacing-around-component-$(size));
	padding-bottom: var(--sds-semantic-spacing-around-component-$(size));
}

/* sm breakpoint */
@define-mixin padding-sm $size {
	@media (--sds-screen-sm) {
		@mixin padding $size;
	}
}

@define-mixin padding-sm-top $size {
	@media (--sds-screen-sm) {
		@mixin padding-top $size;
	}
}

@define-mixin padding-sm-bottom $size {
	@media (--sds-screen-sm) {
		@mixin padding-bottom $size;
	}
}

@define-mixin padding-sm-left $size {
	@media (--sds-screen-sm) {
		@mixin padding-left $size;
	}
}

@define-mixin padding-sm-right $size {
	@media (--sds-screen-sm) {
		@mixin padding-right $size;
	}
}

@define-mixin padding-sm-horizontal $size {
	@media (--sds-screen-sm) {
		padding-left: var(--sds-semantic-spacing-around-component-$(size));
		padding-right: var(--sds-semantic-spacing-around-component-$(size));
	}
}

@define-mixin padding-sm-vertical $size {
	@media (--sds-screen-sm) {
		padding-top: var(--sds-semantic-spacing-around-component-$(size));
		padding-bottom: var(--sds-semantic-spacing-around-component-$(size));
	}
}

/* md breakpoint */
@define-mixin padding-md $size {
	@media (--sds-screen-md) {
		@mixin padding $size;
	}
}

@define-mixin padding-md-top $size {
	@media (--sds-screen-md) {
		@mixin padding-top $size;
	}
}

@define-mixin padding-md-bottom $size {
	@media (--sds-screen-md) {
		@mixin padding-bottom $size;
	}
}

@define-mixin padding-md-left $size {
	@media (--sds-screen-md) {
		@mixin padding-left $size;
	}
}

@define-mixin padding-md-right $size {
	@media (--sds-screen-md) {
		@mixin padding-right $size;
	}
}

@define-mixin padding-md-horizontal $size {
	@media (--sds-screen-md) {
		padding-left: var(--sds-semantic-spacing-around-component-$(size));
		padding-right: var(--sds-semantic-spacing-around-component-$(size));
	}
}

@define-mixin padding-md-vertical $size {
	@media (--sds-screen-md) {
		padding-top: var(--sds-semantic-spacing-around-component-$(size));
		padding-bottom: var(--sds-semantic-spacing-around-component-$(size));
	}
}

/* lg breakpoint */
@define-mixin padding-lg $size {
	@media (--sds-screen-lg) {
		@mixin padding $size;
	}
}

@define-mixin padding-lg-top $size {
	@media (--sds-screen-lg) {
		@mixin padding-top $size;
	}
}

@define-mixin padding-lg-bottom $size {
	@media (--sds-screen-lg) {
		@mixin padding-bottom $size;
	}
}

@define-mixin padding-lg-left $size {
	@media (--sds-screen-lg) {
		@mixin padding-left $size;
	}
}

@define-mixin padding-lg-right $size {
	@media (--sds-screen-lg) {
		@mixin padding-right $size;
	}
}

@define-mixin padding-lg-horizontal $size {
	@media (--sds-screen-lg) {
		padding-left: var(--sds-semantic-spacing-around-component-$(size));
		padding-right: var(--sds-semantic-spacing-around-component-$(size));
	}
}

@define-mixin padding-lg-vertical $size {
	@media (--sds-screen-lg) {
		padding-top: var(--sds-semantic-spacing-around-component-$(size));
		padding-bottom: var(--sds-semantic-spacing-around-component-$(size));
	}
}

/* xl breakpoint */
@define-mixin padding-xl $size {
	@media (--sds-screen-xl) {
		@mixin padding $size;
	}
}

@define-mixin padding-xl-top $size {
	@media (--sds-screen-xl) {
		@mixin padding-top $size;
	}
}

@define-mixin padding-xl-bottom $size {
	@media (--sds-screen-xl) {
		@mixin padding-bottom $size;
	}
}

@define-mixin padding-xl-left $size {
	@media (--sds-screen-xl) {
		@mixin padding-left $size;
	}
}

@define-mixin padding-xl-right $size {
	@media (--sds-screen-xl) {
		@mixin padding-right $size;
	}
}

@define-mixin padding-xl-horizontal $size {
	@media (--sds-screen-xl) {
		padding-left: var(--sds-semantic-spacing-around-component-$(size));
		padding-right: var(--sds-semantic-spacing-around-component-$(size));
	}
}

@define-mixin padding-xl-vertical $size {
	@media (--sds-screen-xl) {
		padding-top: var(--sds-semantic-spacing-around-component-$(size));
		padding-bottom: var(--sds-semantic-spacing-around-component-$(size));
	}
}

/* xxl breakpoint */
@define-mixin padding-xxl $size {
	@media (--sds-screen-xxl) {
		@mixin padding $size;
	}
}

@define-mixin padding-xxl-top $size {
	@media (--sds-screen-xxl) {
		@mixin padding-top $size;
	}
}

@define-mixin padding-xxl-bottom $size {
	@media (--sds-screen-xxl) {
		@mixin padding-bottom $size;
	}
}

@define-mixin padding-xxl-left $size {
	@media (--sds-screen-xxl) {
		@mixin padding-left $size;
	}
}

@define-mixin padding-xxl-right $size {
	@media (--sds-screen-xxl) {
		@mixin padding-right $size;
	}
}

@define-mixin padding-xxl-horizontal $size {
	@media (--sds-screen-xxl) {
		padding-left: var(--sds-semantic-spacing-around-component-$(size));
		padding-right: var(--sds-semantic-spacing-around-component-$(size));
	}
}

@define-mixin padding-xxl-vertical $size {
	@media (--sds-screen-xxl) {
		padding-top: var(--sds-semantic-spacing-around-component-$(size));
		padding-bottom: var(--sds-semantic-spacing-around-component-$(size));
	}
}

/* margin */
@define-mixin margin $size {
	padding: var(--sds-semantic-spacing-around-component-$(size));
}

@define-mixin margin-top $size {
	margin-top: var(--sds-semantic-spacing-around-component-$(size));
}

@define-mixin margin-bottom $size {
	margin-bottom: var(--sds-semantic-spacing-around-component-$(size));
}

@define-mixin margin-left $size {
	margin-left: var(--sds-semantic-spacing-around-component-$(size));
}

@define-mixin margin-right $size {
	margin-right: var(--sds-semantic-spacing-around-component-$(size));
}

@define-mixin margin-horizontal $size {
	margin-left: var(--sds-semantic-spacing-around-component-$(size));
	margin-right: var(--sds-semantic-spacing-around-component-$(size));
}

@define-mixin margin-vertical $size {
	margin-top: var(--sds-semantic-spacing-around-component-$(size));
	margin-bottom: var(--sds-semantic-spacing-around-component-$(size));
}

/* sm breakpoint */
@define-mixin margin-sm $size {
	@media (--sds-screen-sm) {
		@mixin margin $size;
	}
}

@define-mixin margin-sm-top $size {
	@media (--sds-screen-sm) {
		@mixin margin-top $size;
	}
}

@define-mixin margin-sm-bottom $size {
	@media (--sds-screen-sm) {
		@mixin margin-bottom $size;
	}
}

@define-mixin margin-sm-left $size {
	@media (--sds-screen-sm) {
		@mixin margin-left $size;
	}
}

@define-mixin margin-sm-right $size {
	@media (--sds-screen-sm) {
		@mixin margin-right $size;
	}
}

@define-mixin margin-sm-horizontal $size {
	@media (--sds-screen-sm) {
		padding-left: var(--sds-semantic-spacing-around-component-$(size));
		padding-right: var(--sds-semantic-spacing-around-component-$(size));
	}
}

@define-mixin margin-sm-vertical $size {
	@media (--sds-screen-sm) {
		padding-top: var(--sds-semantic-spacing-around-component-$(size));
		padding-bottom: var(--sds-semantic-spacing-around-component-$(size));
	}
}

/* md breakpoint */
@define-mixin margin-md $size {
	@media (--sds-screen-md) {
		@mixin margin $size;
	}
}

@define-mixin margin-md-top $size {
	@media (--sds-screen-md) {
		@mixin margin-top $size;
	}
}

@define-mixin margin-md-bottom $size {
	@media (--sds-screen-md) {
		@mixin margin-bottom $size;
	}
}

@define-mixin margin-md-left $size {
	@media (--sds-screen-md) {
		@mixin margin-left $size;
	}
}

@define-mixin margin-md-right $size {
	@media (--sds-screen-md) {
		@mixin margin-right $size;
	}
}

@define-mixin margin-md-horizontal $size {
	@media (--sds-screen-md) {
		padding-left: var(--sds-semantic-spacing-around-component-$(size));
		padding-right: var(--sds-semantic-spacing-around-component-$(size));
	}
}

@define-mixin margin-md-vertical $size {
	@media (--sds-screen-md) {
		padding-top: var(--sds-semantic-spacing-around-component-$(size));
		padding-bottom: var(--sds-semantic-spacing-around-component-$(size));
	}
}

/* lg breakpoint */
@define-mixin margin-lg $size {
	@media (--sds-screen-lg) {
		@mixin margin $size;
	}
}

@define-mixin margin-lg-top $size {
	@media (--sds-screen-lg) {
		@mixin margin-top $size;
	}
}

@define-mixin margin-lg-bottom $size {
	@media (--sds-screen-lg) {
		@mixin margin-bottom $size;
	}
}

@define-mixin margin-lg-left $size {
	@media (--sds-screen-lg) {
		@mixin margin-left $size;
	}
}

@define-mixin margin-lg-right $size {
	@media (--sds-screen-lg) {
		@mixin margin-right $size;
	}
}

@define-mixin margin-lg-horizontal $size {
	@media (--sds-screen-lg) {
		padding-left: var(--sds-semantic-spacing-around-component-$(size));
		padding-right: var(--sds-semantic-spacing-around-component-$(size));
	}
}

@define-mixin margin-lg-vertical $size {
	@media (--sds-screen-lg) {
		padding-top: var(--sds-semantic-spacing-around-component-$(size));
		padding-bottom: var(--sds-semantic-spacing-around-component-$(size));
	}
}

/* xl breakpoint */
@define-mixin margin-xl $size {
	@media (--sds-screen-xl) {
		@mixin margin $size;
	}
}

@define-mixin margin-xl-top $size {
	@media (--sds-screen-xl) {
		@mixin margin-top $size;
	}
}

@define-mixin margin-xl-bottom $size {
	@media (--sds-screen-xl) {
		@mixin margin-bottom $size;
	}
}

@define-mixin margin-xl-left $size {
	@media (--sds-screen-xl) {
		@mixin margin-left $size;
	}
}

@define-mixin margin-xl-right $size {
	@media (--sds-screen-xl) {
		@mixin margin-right $size;
	}
}

@define-mixin margin-xl-horizontal $size {
	@media (--sds-screen-xl) {
		padding-left: var(--sds-semantic-spacing-around-component-$(size));
		padding-right: var(--sds-semantic-spacing-around-component-$(size));
	}
}

@define-mixin margin-xl-vertical $size {
	@media (--sds-screen-xl) {
		padding-top: var(--sds-semantic-spacing-around-component-$(size));
		padding-bottom: var(--sds-semantic-spacing-around-component-$(size));
	}
}

/* xxl breakpoint */
@define-mixin margin-xxl $size {
	@media (--sds-screen-xxl) {
		@mixin margin $size;
	}
}

@define-mixin margin-xxl-top $size {
	@media (--sds-screen-xxl) {
		@mixin margin-top $size;
	}
}

@define-mixin margin-xxl-bottom $size {
	@media (--sds-screen-xxl) {
		@mixin margin-bottom $size;
	}
}

@define-mixin margin-xxl-left $size {
	@media (--sds-screen-xxl) {
		@mixin margin-left $size;
	}
}

@define-mixin margin-xxl-right $size {
	@media (--sds-screen-xxl) {
		@mixin margin-right $size;
	}
}

@define-mixin margin-xxl-horizontal $size {
	@media (--sds-screen-xxl) {
		padding-left: var(--sds-semantic-spacing-around-component-$(size));
		padding-right: var(--sds-semantic-spacing-around-component-$(size));
	}
}

@define-mixin margin-xxl-vertical $size {
	@media (--sds-screen-xxl) {
		padding-top: var(--sds-semantic-spacing-around-component-$(size));
		padding-bottom: var(--sds-semantic-spacing-around-component-$(size));
	}
}
