@define-mixin responsive-font {
  --fluid-min-width: 360;
  --fluid-max-width: 1200;
  --fluid-screen: 100vw;
  --fluid-bp: calc(
    (var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) /
    (var(--fluid-max-width) - var(--fluid-min-width))
  );

  font-size: calc(((var(--min) / 16) * 1rem) + (var(--max) - var(--min)) * var(--fluid-bp));

  @media (--sds-screen-xl) {
    --fluid-screen: calc(var(--fluid-max-width) * 1px);
  }
}

@define-mixin base-display $weight {
  font-family: var(--sds-semantic-font-family-display);
  font-weight: var(--sds-semantic-font-weight-display-$(weight));
  line-height: var(--sds-semantic-line-height-display);
  margin-bottom: var(--sds-semantic-spacing-typography-display-margin-bottom);
  text-transform: var(--sds-semantic-text-case-heading);
}

@define-mixin display1 $weight: regular {
  @mixin base-display $weight;

  --min: var(--sds-semantic-font-size-mobile-display-1);
  --max: var(--sds-semantic-font-size-desktop-display-1);
}

@define-mixin display2 $weight: regular {
  @mixin base-display;

  --min: var(--sds-semantic-font-size-mobile-display-2);
  --max: var(--sds-semantic-font-size-desktop-display-2);
}

@define-mixin display3 $weight: regular {
  @mixin base-display;

  --min: var(--sds-semantic-font-size-mobile-display-3);
  --max: var(--sds-semantic-font-size-desktop-display-3);
}

@define-mixin base-heading $weight {
  @mixin responsive-font;

  margin-top: 0;
  font-family: var(--sds-semantic-font-family-heading);
  font-weight: var(--sds-semantic-font-weight-heading-$(weight));
  line-height: var(--sds-semantic-line-height-heading);
  margin-bottom: var(--sds-semantic-spacing-typography-heading-margin-bottom);
  text-transform: var(--sds-semantic-text-case-heading);
}

@define-mixin h1 $weight: regular {
  @mixin base-heading $weight;

  --min: var(--sds-semantic-font-size-mobile-heading-1);
  --max: var(--sds-semantic-font-size-desktop-heading-1);
}

@define-mixin h2 $weight: regular {
  @mixin base-heading $weight;

  --min: var(--sds-semantic-font-size-mobile-heading-2);
  --max: var(--sds-semantic-font-size-desktop-heading-2);
}

@define-mixin h3 $weight: regular {
  @mixin base-heading $weight;

  --min: var(--sds-semantic-font-size-mobile-heading-3);
  --max: var(--sds-semantic-font-size-desktop-heading-3);
}

@define-mixin h4 $weight: regular {
  @mixin base-heading $weight;

  --min: var(--sds-semantic-font-size-mobile-heading-4);
  --max: var(--sds-semantic-font-size-desktop-heading-4);
}

@define-mixin h5 $weight: regular {
  @mixin base-heading $weight;

  --min: var(--sds-semantic-font-size-mobile-heading-5);
  --max: var(--sds-semantic-font-size-desktop-heading-5);
}

@define-mixin subtitle $weight: regular {
  @mixin responsive-font $weight;

  --min: var(--sds-semantic-font-size-mobile-subtitle);
  --max: var(--sds-semantic-font-size-desktop-subtitle);

  font-family: var(--sds-semantic-font-family-subtitle);
  font-weight: var(--sds-semantic-font-weight-subtitle-$(weight));
  line-height: var(--sds-semantic-line-height-subtitle);
  margin-bottom: var(--sds-semantic-spacing-typography-subtitle-margin-bottom);
  text-transform: var(--sds-semantic-text-case-subtitle);
}

@define-mixin eyebrow $weight: regular {
  @mixin responsive-font $weight;

  --min: var(--sds-semantic-font-size-mobile-eyebrow);
  --max: var(--sds-semantic-font-size-desktop-eyebrow);

  font-family: var(--sds-semantic-font-family-eyebrow);
  font-weight: var(--sds-semantic-font-weight-eyebrow-$(weight));
  line-height: var(--sds-semantic-line-height-eyebrow);
  margin: 0;
  margin-bottom: var(--sds-semantic-spacing-typography-eyebrow-margin-bottom);
  text-transform: var(--sds-semantic-text-case-eyebrow);
}

@define-mixin body-text $weight: regular, $size: md {
  font-size: var(--sds-semantic-font-size-body-$(size));
  font-family: var(--sds-semantic-font-family-body);
  font-weight: var(--sds-semantic-font-weight-body-$(weight));
  line-height: var(--sds-semantic-line-height-body);
  text-transform: var(--sds-semantic-text-case-body);
}

@define-mixin caption $weight: regular {
  font-size: var(--sds-semantic-font-size-caption);
  font-family: var(--sds-semantic-font-family-caption);
  font-weight: var(--sds-semantic-font-weight-caption-$(weight));
  line-height: var(--sds-semantic-line-height-caption);
  text-transform: var(--sds-semantic-text-case-caption);
}

@define-mixin source-code {
  font-size: var(--sds-semantic-font-size-source-code);
  font-family: var(--sds-semantic-font-family-mono);
  font-weight: var(--sds-semantic-font-weight-source-code-regular);
  line-height: var(--sds-semantic-line-height-source-code);
}

@define-mixin foreground-color $type, $style: default {
  color: var(--sds-semantic-color-foreground-on-$(type)-$(style));
}

@define-mixin font-weight $type {
  font-weight: var(--sds-semantic-font-weight-$(type));
}